---
import type { Feature } from '../types.ts';

import Section from '../components/ui/Section.astro';
import HeadingLevel2 from '../components/ui/HeadingLevel2.astro';
import Card from '../components/ui/Card.astro';

import Layout from '../layouts/Layout.astro';

import Hero from '../components/index/Hero.astro';

import { features, keyBenefits } from '../data/index.ts';
import Banner from '../components/Banner.astro';
---

<Layout title='Pirayo'>
  <Hero />
  <!-- About -->
  <Section id='about'>
    <HeadingLevel2 title='About Us' />
    <p class='text-md text-center text-gray-600 mb-10'>
      Welcome to Pirayo, where innovation meets the road. We are more than a ride-sharing platform; we are architects of a
      seamless, eco-friendly, and community-driven commuting experience. At Pirayo, our mission is to redefine how people navigate
      their daily journeys, creating a future where commuting is not just a necessity but a delight.
    </p>
    <div class='flex flex-col gap-6 lg:flex-row'>
      <div class='w-full lg:w-1/2 flex flex-col justify-center'>
        <h3 class='text-3xl text-gray-800 font-bold mb-5'>Our Vision</h3>
        <p class='text-gray-600 mb-8'>
          Pirayo envisions a world where commuting is not a hassle but an opportunity. We strive to be pioneers in transforming
          the daily commute into a personalized, efficient, and sustainable experience.
        </p>
        <h3 class='text-3xl text-gray-800 font-bold mb-5'>Who We Are</h3>
        <p class='text-gray-600 mb-8'>
          Pirayo is a team of dedicated professionals committed to reshaping the way you travel. From solo riders to daily
          commuters and fixed-route users, we have crafted a platform that caters to diverse commuting needs.
        </p>
      </div>
      <div class='w-full lg:w-1/2 flex justify-center items-center'>
        <!-- <img src='https://source.unsplash.com/random?team' alt='about us' class='rounded shadow-2xl max-h-80 w-full' /> -->
        <img
          src='https://images.unsplash.com/photo-1516321318423-f06f85e504b3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8dGVhbXx8fHx8fDE3MDIxMDE2NjM&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080'
          alt='about us'
          class='rounded shadow-2xl max-h-80 w-full'
        />
      </div>
    </div>
  </Section>

  <!-- Features -->
  <Section id='features'>
    <HeadingLevel2 title='Our Features' />
    <div class='grid grid-flow-row gap-4 lg:grid-flow-col'>
      {
        features.map((feature) => (
          <Card title={feature.title}>
            <p class='text-gray-600'>
              {feature.description.split(':').map((item, index) => {
                if (index === 0) return <span class='font-bold'>{item}</span>;
                return item;
              })}
            </p>
          </Card>
        ))
      }
    </div>
  </Section>

  <!-- Why Choose Us -->
  <Section id='whyChooseUs'>
    <HeadingLevel2 title='Why Choose Us' />
    <div class='grid grid-flow row gap-4 lg:grid-flow-col'>
      {
        keyBenefits.map((benefit) => (
          <Card title={benefit.title}>
            <p class='text-gray-600'>{benefit.description}</p>
          </Card>
        ))
      }
    </div>
  </Section>

  <!-- Our Commitment -->
  <Section id='ourCommitment'>
    <h2 class='text-5xl mb-6 font-bold text-center text-gray-800'>Our Commitment</h2>
    <p class='text-gray-600 mb-8 text-center'>
      At Pirayo, we are committed to pushing the boundaries of commuting. Our journey is not just about reaching a destination;
      it's about transforming the entire commuting experience. Join us as we redefine journeys, one ride at a time.
    </p>
  </Section>

  <Banner />
</Layout>
