---

---

<footer class='bg-gray-900 text-white py-12' id="footer">
  <div class='container'>
    <div class='flex flex-col items-center text-center gap-8 sm:flex-row sm:text-left sm:items-stretch'>
      <!-- Section 1: Social Links -->
      <div class='flex-1'>
        <h2 class='font-bold text-lg mb-2'>Follow Us</h2>
        <ul>
          <li>
            <a
              href='https://www.facebook.com/profile.php?id=61553804083221'
              referrerpolicy='no-referrer'
              rel='_blank'
              class='hover:underline'
            >
              Facebook
            </a>
          </li>
          <li>
            <a href='https://twitter.com/pirayo_pk' referrerpolicy='no-referrer' rel='_blank' class='hover:underline'>Twitter</a>
          </li>
          <li>
            <a href='https://www.linkedin.com/company/pirayo/' referrerpolicy='no-referrer' rel='_blank' class='hover:underline'>
              LinkedIn
            </a>
          </li>
        </ul>
      </div>

      <!-- Section 2: Contact Information -->
      <div class='flex-1'>
        <h2 class='font-bold text-lg mb-2'>Contact Us</h2>
        <address>Villa 454, Street 6, Road 4, Precinct 10A, Bahria Town, Karachi, Sindh, Pakistan.</address>
        <ul>
          <li><a href='tel:+923113849923' class='hover:underline'>0311 3849923</a></li>
          <li><a href='mailto:hr@pirayo.com' class='hover:underline'>hr@pirayo.com</a></li>
        </ul>
      </div>

      <!-- Section 3: Additional Links -->
      <div class='flex-1'>
        <h2 class='font-bold text-lg mb-2'>More Info</h2>
        <ul>
          <li><a href='#' class='hover:underline'>Privacy Policy</a></li>
          <li><a href='#' class='hover:underline'>Terms of Service</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
