---
import { Image } from 'astro:assets';
import bannerImage from '../../assets/images/banner.jpeg';
---

<div>
  <Image src={bannerImage} alt='Banner' class='block w-full object-fill' id='heroImage' />
</div>

<script>
  const header = document.getElementById('header') as HTMLElement;
  const heroImage = document.getElementById('heroImage') as HTMLImageElement;

  function setBannerHeight() {
    const headerHeight = header.offsetHeight;
    heroImage.style.maxHeight = `calc(100vh - ${headerHeight}px)`;
  }

  window.addEventListener('resize', setBannerHeight);

  window.addEventListener('load', setBannerHeight);
</script>
