---
import '../style.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/icon' href='/favicon.ico' />
    <title>Pirayo - Transforming Commutes, Elevating Journeys</title>

    <meta
      name='description'
      content='Pirayo is more than a ride-sharing platform; we are architects of a seamless, eco-friendly, and community-driven commuting experience.'
    />
    <meta name='keywords' content='Pirayo, ride-sharing, commuting, eco-friendly, community, innovation, efficiency' />
    <meta name='image' content='[Image of a person commuting with Pirayo]' />
    <meta property='og:title' content='Pirayo - Transforming Commutes, Elevating Journeys' />
    <meta
      property='og:description'
      content='Pirayo is more than a ride-sharing platform; we are architects of a seamless, eco-friendly, and community-driven commuting experience.'
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
