---
interface Props {
  href: string;
}

const props = Astro.props as Props;
---

<a
  class='group inline-flex h-9 w-max items-center justify-center rounded-md bg-white px-4 py-2 text-base sm:text-sm font-medium transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-gray-100/50 data-[state=open]:bg-gray-100/50'
  data-radix-collection-item=''
  href={props.href}
>
  <slot />
</a>
